@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #33cccc;
  line-height: 1.7;
  font-size: 19px;
  background-color: #000033;
  background-image: url(./components/images/Mediteriansea.jpg);
  background-size: cover;
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link {
  font-size: 40px;
  background: ;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .explanation {
  color: #bbb
}




@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }
  
  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}